/* html, body {
    color: #444444;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color:#fbfbfb ;
    background: #fbfbfb center;
    url(https://assets.tumblr.com/images/x.gif?v=1);
    background-attachment: fixed;
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: fadein 2.5s;
    -moz-animation: fadein 2.5s;
    -webkit-animation: fadein 2.5s;
    -o-animation: fadein  2.5s;
    
} */
html, body {
    color: #444444;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    margin: 0;
    padding: 0;
    text-align: left;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   animation: fadein 2.5s;
   -moz-animation: fadein 2.5s;
   -webkit-animation: fadein 2.5s;
   -o-animation: fadein  2.5s;
}

/* NAVIGATION */
a {
    color: #000000;
    text-decoration: none;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#sidebar-cont {
    order: 0;
    position: relative;
    width: 400px;
}
#sidebar-tall {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.side-image {
    position: relative;
    width: 150px;
    height: 150px;
}
.blob {
    position: absolute;
    margin-top: -47%;
    z-index: -1;
    transform: scale(1.9);
    transform-origin: 55% 0;
    -webkit-transform: scale(1.9);
    -webkit-transform-origin: 55% 0;
    -o-transform: scale(1.9);
    -o-transform-origin: 55% 0;
    -moz-transform: scale(1.9);
    -moz-transform-origin: 55% 0;
    -ms-transform: scale(1.9);
}
.side-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.circle {
    width: 150px;
    height: 150px;
    border: 2px dashed #27231d;
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: -60px;
    z-index: -1;
}
.circle-2 {
    width: 150px;
    height: 150px;
    border: 2px dashed #27231d;
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -60px;
    z-index: -1;
}
#sidebar-tall h2 {
    font-size: 1.4em;
    margin-top: 60px;
    text-transform: uppercase;
    color: #000000;
}
#description {
    text-align: center;
}
.homelinks {
    margin-top: 25px;
    text-align: center;
}
.homelinks a {
    
    display: inline-block;
    margin: 5px;
    padding: 2px 10px;
    text-align: center;
    font-weight: 700;
    background-color: #d4c3b5;
    color: #000000;
    border: 2px dashed transparent;
}
.homelinks a:hover {
    color: #000000;
    background-color: transparent;
    border: 2px dashed #27231d;
}
.morelinks {
    margin-top: 20px;
}
.morelinks a {
    margin: 0 15px;
    font-weight: 700;
}
.morelinks a:hover {
    color: #64848c;
}

/*  PAGE CONTENT */
#page-section{
    order: 0;
    position: relative;
    width: 550px;
}
#page-cont{
    order: 1;
    position: fixed;
    width: 550px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content{
    background-color: white;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-button{
    background-color: #d4c3b5;
    color: #000000;
    border: 2px dashed transparent;
    padding: 2px 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 13px;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.home-button:hover {
    color: #000000;
    background-color: #64848c;
    border: 2px dashed #27231d;
    
}

.project-title{
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.897);
    margin: 17px 0px;
    padding: 8px;
}
.project-button{
    background-color: #fffd8a;
    color: #64848c;
    border: 2px solid rgba(255, 255, 255, 0.664);
    padding: 4px 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    min-width: 85px;
}
.project-button:hover {
    background-color: #ccbb9d;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.box-main{
    height: 250px;
    border: 2px solid #d4c3b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    transition-duration: 0.5s;
}
.box-main:hover{
    border: 2px dashed #27231d;
    backdrop-filter: grayscale(1);
}
.box1{
    background-image: url(/images/cactus.PNG);
    background-position:center;
    background-size: cover;
}
.box2{
    background-image: url(/images/chat1.PNG);
    background-position:center;
    background-size: cover;
    background-blend-mode: overlay;
}
.box3{
    background-image: url(/images/movies.PNG);
    background-position:center;
    background-size: cover;
    background-blend-mode: overlay;
}
.box4{
    background-image: url(/images/construction.PNG);
    background-position:center;
    background-size: cover;
    background-blend-mode: overlay;
}
.modal-body{
    min-height: 400px;
}
.code-lang{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 0px;
    overflow: visible;
}
.capsule{
    display: inline-block;
    padding: 0px 8px;
    border: 2px solid #27231d;
    margin-right: 10px;
    border-radius: 20px;
    text-align: center;
    min-width: 45px;
    font-weight: bold;
}
.myBtn{
    background-color: #ff806a;
    color: #000000;
    border: 2px dashed transparent;
    padding: 4px 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 13px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.myBtn:hover {
    color: #000000;
    background-color: #fffd8a;
    border-radius: 10px;
}


/* Contact */

.feedback-input {
    color:#000000;
    font-family: 'Rubik', sans-serif;
    font-weight:500;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #d4c3b5;
    transition: all 0.3s;
    padding:8px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #64848c; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    width: 100%;
    background:#d4c3b5;
    border:2px solid #d4c3b5;
    cursor:pointer;
    color:#444444;
    font-family: 'Rubik', sans-serif;
    font-size:15px;
    font-weight:700;
    padding-top:8px;
    padding-bottom:8px;
    transition: all 0.3s;
    margin-top:-4px;
    
  }
  [type="submit"]:hover { 
    background:#64848c; 
    border: 2px dashed #27231d;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .homelinks a {
        width: 70px; 
    }
    .main-content{
        min-width: 250px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .homelinks a {
        width: 152px; 
    }
    .main-content{
        min-width: 400px;
        height: 575px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .main-content{
        min-width: 470px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main-content{
        min-width: 515px;
        max-width: 533px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }